<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DinerMax3000Business.Properties.Settings.DinerMax3000ConnectionString"
            connectionString="Data Source=.\MAIN;Initial Catalog=DinerMax3000;Persist Security Info=True;User ID=sa;Password=Password2019"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>